@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
@import url("https://fonts.googleapis.com/css?family=EB+Garamond");
@import url("https://fonts.googleapis.com/css?family=Oxygen");

h1, h2, h3, header {
  font-family: 'Roboto Slab', serif;
}

p, blockquote {
  font-family: 'Times New Roman', serif;
  font-size: 18px;
}

.hanging {
  padding-left: 50px ;
  text-indent: -50px ;
}

body {
  padding-top: 50px;
}

#logo {
  font-size: 1.75em;
  font-weight: bolder;
  color: white;
}

/*Map*/

html, body, #container  {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

body {
  padding-top: 50px;
}

#map {
  width: auto;
  height: 100%;
}

.material-icons, .icon-text, .mdi {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Just Imported*/
