@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
@import url("https://fonts.googleapis.com/css?family=EB+Garamond");
@import url("https://fonts.googleapis.com/css?family=Oxygen");

h1, h2, h3, header {
  font-family: 'Roboto Slab', serif;
}

p, blockquote {
  font-family: 'Times New Roman', serif;
  font-size: 18px;
}

.hanging {
  padding-left: 50px ;
  text-indent: -50px ;
}

body {
  padding-top: 50px;
}

#logo {
  font-size: 1.75em;
  font-weight: bolder;
  color: white;
}

.clickable {
  cursor: pointer;
}

/*Map*/

html, body, #container  {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

body {
  padding-top: 50px;
}

#map {
  width: auto;
  height: 100%;
}

.material-icons, .icon-text, .mdi {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Just Imported*/

#sidebar-wrapper {
  top: 52px;
  left: -200px;
  width: 200px;
  background-color: #5677fc;
  color: white;
  position: fixed;
  height: 100%;
  z-index: 1;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 250px;
  list-style: none;
}
.sidebar-nav li {
  text-indent: 20px;
  line-height: 50px;
}
.sidebar-nav li a {
  color: white;
  display: block;
  text-decoration: none;
}
.sidebar-nav li a:hover {
  background: rgba(255,255,255,0.25);
  color: white;
  text-decoration: none;
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}
#sidebar-wrapper.sidebar-toggle {
  transition: all 0.3s ease-out;
  margin-left: -200px;
}
@media (min-width: 768px) {
  #sidebar-wrapper.sidebar-toggle {
    transition: 0s;
    left: 200px;
  }
}
