@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
@import url("https://fonts.googleapis.com/css?family=EB+Garamond");

h1, h2, h3, header {
  font-family: 'Roboto Slab', serif;
}

p, blockquote {
  font-family: 'EB Garamond', serif;
  font-size: 18px;
}

.hanging {
  padding-left: 50px ;
  text-indent: -50px ;
}

body {
  padding-top: 50px;
}

/*.logo {
  height:auto;
  width:27px;
}

.logo:hover {
  opacity:0.5;
  background:url("img/logoinverse.png");
  height:auto;
  width:27px;
}*/
