h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
}

p {
  font-family: 'EB Garamond', serif;
}

.hangingindent {
  padding-left: 50px ;
  text-indent: -50px ;
}

/* Map */
body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100vh;
    overflow: hidden;
    width: 100vw;
}
